*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(207, 68, 50);
background: linear-gradient(90deg, rgba(210,41,19,1) 25%, rgba(135,126,20,1) 55%, rgba(116,255,0,1) 100%);
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* GRID BOARD */ /* GRID BOARD */ /* GRID BOARD */ 

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 1000px;
    height: 85vh;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 5%;
}

.grid div {
    background-color: rgb(255,248,165);
    padding: 2em;
    border-radius: 15px;

}

.grid div:hover {
    border: 2px solid rgb(7, 7, 7);
}


/* style BOTÓN */ /* style BOTÓN */ /* style BOTÓN */
.controles {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
button {
    background: #dd4a57;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    margin: 20px 20px;
}

.stats {
    color: #FFF;
    font-size: 14pt;
    margin: 20px 20px;
    padding: 10px 2px;
}


/* style IMG CARDS */ /* style IMG CARDS */ /* style IMG CARDS */


#card1 {
    background-image: url("./Sprites-Cartas/Carta-cohete.jpg");
    background-size: contain;
}
#card2 {
    background-image: url("./Sprites-Cartas/Carta-cohete2.jpg");
    background-size: contain;
}
#card3 {
    background-image: url("./Sprites-Cartas/carta-regalo.jpg");
    background-size: contain;
}
#card4 {
    background-image: url("./Sprites-Cartas/carta-regalo2.jpg");
    background-size: contain;
}
#card5 {
    background-image: url("./Sprites-Cartas/Carta-galleta.jpg");
    background-size: contain;
}
#card6 {
    background-image: url("./Sprites-Cartas/Carta-galleta2.jpg");
    background-size: contain;
}
#card7 {
    background-image: url("./Sprites-Cartas/Carta-SantaBola.jpg");
    background-size: contain;
}
#card8 {
    background-image: url("./Sprites-Cartas/Carta-SantaBola2.jpg");
    background-size: contain;
}
#card9 {
    background-image: url("./Sprites-Cartas/Carta-SantaCohete.jpg");
    background-size: contain;
}
#card10 {
    background-image: url("./Sprites-Cartas/Carta-SantaCohete2.jpg");
    background-size: contain;
}
#card11 {
    background-image: url("./Sprites-Cartas/Carta-SantaCool.jpg");
    background-size: contain;
}
#card12 {
    background-image: url("./Sprites-Cartas/Carta-SantaCool2.jpg");
    background-size: contain;
}
#card13 {
    background-image: url("./Sprites-Cartas/Carta-SantaSkater.jpg");
    background-size: contain;
}
#card14 {
    background-image: url("./Sprites-Cartas/Carta-SantaSkater2.jpg");
    background-size: contain;
}
#card15 {
    background-image: url("./Sprites-Cartas/Carta-snowman.jpg");
    background-size: contain;
}
#card16 {
    background-image: url("./Sprites-Cartas/Carta-snowman2.jpg");
    background-size: contain;
}

